#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primary: #646cffaa;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* layout */
.layout {
  position: relative;
  width: 100%;
  height: 500px;
}

/* login page */
.login_page {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar */
nav {
  display: flex;
  align-items: start;
}
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

.cs-main-container {
  border: 0 !important;
  color: white !important;
}

/* overwrite */
.cs-chat-container,
.cs-expansion-panel,
.cs-message-list,
.cs-chat-container.cs-message-input,
.cs-main-container,
.cs-message-input__content-editor,
.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor-container {
  background-color: rgba(255, 255, 255, 0) !important;
}

div.cs-expansion-panel.expansion-panel {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
}
.cs-message__content {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.cs-expansion-panel__header {
  background-color: white !important;
}

.banner {
  background: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  
}
.nav_msg {
  padding: 20px 0;
}
